**/.DS_Store
/datasets/ISOT/Fake.csv
/datasets/ISOT/True.csv
/datasets/ISOT/combined.csv
/datasets/Buzzfeed-2016/py-extraction/py-extract-env
/datasets/Buzzfeed-2016/py-extraction/credentials.json
/datasets/Buzzfeed-2016/py-extraction/extracted_data.csv
/datasets/Dataset3/train.csv
/datasets/Dataset3/test.csv
/datasets/ISOT/combined_tokenized_stopword_removed.csv
